force-app/main/default/flows/BorrarRegistroAlquiler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AsignarValoresOportunidad</name>
        <label>AsignarValoresOportunidad</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>getOportunidad.Amount</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record.Precio__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateResta</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>Resta</name>
        <dataType>Currency</dataType>
        <expression>{!getOportunidad.Amount} - {!$Record.Precio__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>BorrarRegistroAlquiler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BorrarRegistroAlquiler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>BorrarAlquiler</name>
        <label>BorrarAlquiler</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <inputReference>GetAlquiler</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetAlquiler</name>
        <label>GetAlquiler</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Alquiler_de_vehiculo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOportunidad</name>
        <label>getOportunidad</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AsignarValoresOportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetAlquiler.Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateResta</name>
        <label>UpdateResta</label>
        <locationX>176</locationX>
        <locationY>671</locationY>
        <connector>
            <targetReference>BorrarAlquiler</targetReference>
        </connector>
        <inputReference>getOportunidad</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAlquiler</targetReference>
        </connector>
        <object>Alquiler_de_vehiculo__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Draft</status>
</Flow>
