force-app/main/default/flows/Cotizar_Viaje.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <dynamicChoiceSets>
        <name>vehiculo</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Vehiculo__c</object>
    </dynamicChoiceSets>
    <formulas>
        <name>CantidadDias</name>
        <dataType>Number</dataType>
        <expression>{!Fecha_de_Finalizacion}-{!Fecha_de_Inicio}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>PrecitoTotal</name>
        <dataType>Currency</dataType>
        <expression>{!getAuto.Precio__c} *{!CantidadDias}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Cotizar Viaje {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cotizar Viaje</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAuto</name>
        <label>getAuto</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cotizar_Precio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Vehiculo_input</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vehiculo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Cotizar_Precio</name>
        <label>Cotizar Precio</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Fin</backButtonLabel>
        <fields>
            <name>Vehiculov1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>getAuto.Name</elementReference>
            </defaultValue>
            <fieldText>Vehiculo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Precio_Total</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>PrecitoTotal</elementReference>
            </defaultValue>
            <fieldText>Precio Total</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cotizar_Viaje</name>
        <label>Cotizar Viaje</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getAuto</targetReference>
        </connector>
        <fields>
            <name>Vehiculo_input</name>
            <choiceReferences>vehiculo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Vehiculo</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Cotizar_Viaje_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Cotizar_Viaje_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Fecha_de_Inicio</name>
                    <dataType>Date</dataType>
                    <fieldText>Fecha de Inicio</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Cotizar_Viaje_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Fecha_de_Finalizacion</name>
                    <dataType>Date</dataType>
                    <fieldText>Fecha de Finalizacion</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Siguente</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cotizar_Viaje</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>getVehiculo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vehiculo__c</objectType>
    </variables>
</Flow>
