force-app/main/default/flows/CrearFactura.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AddDetalleFactura</name>
        <label>AddDetalleFactura</label>
        <locationX>264</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>DetalleFactura</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DetalleFacturaV1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asignar_cuenta</name>
        <label>asignar cuenta</label>
        <locationX>264</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>For1.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AsignarDetalleFacturaPorFor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarDetalleFacturaPorFor</name>
        <label>AsignarDetalleFacturaPorFor</label>
        <locationX>264</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>DetalleFacturaV1.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For1.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DetalleFacturaV1.Vehiculo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For1.Vehiculo_de_Carga__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DetalleFacturaV1.Factura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getFactura.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DetalleFacturaV1.Precio_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For1.Precio__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddDetalleFactura</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarFactura</name>
        <label>AsignarFactura</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>Factura.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Factura.Pagado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Factura.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Factura.Direccion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Factura.Telefono__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Factura.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CrearFactura</targetReference>
        </connector>
    </assignments>
    <interviewLabel>CrearFactura {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CrearFacturaAlquilerDeVehiculo</label>
    <loops>
        <name>For1</name>
        <label>For1</label>
        <locationX>176</locationX>
        <locationY>815</locationY>
        <collectionReference>GetArrayAlquieres</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asignar_cuenta</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_alquileres</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CrearFactura</name>
        <label>CrearFactura</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>getFactura</targetReference>
        </connector>
        <inputReference>Factura</inputReference>
    </recordCreates>
    <recordCreates>
        <name>X123</name>
        <label>123</label>
        <locationX>176</locationX>
        <locationY>1511</locationY>
        <inputReference>DetalleFactura</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetArrayAlquieres</name>
        <label>GetArrayAlquieres</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AsignarFactura</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Alquiler_de_vehiculo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getFactura</name>
        <label>getFactura</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Factura.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Factura__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_alquileres</name>
        <label>update alquileres</label>
        <locationX>176</locationX>
        <locationY>1391</locationY>
        <connector>
            <targetReference>X123</targetReference>
        </connector>
        <inputReference>For1</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetArrayAlquieres</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>Servicio__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>alquileres de vehiculos</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ArrayAlquileresdeVehiculo</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Alquiler_de_vehiculo__c</objectType>
    </variables>
    <variables>
        <name>DetalleFactura</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Detalle_Factura__c</objectType>
    </variables>
    <variables>
        <name>DetalleFacturaV1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Detalle_Factura__c</objectType>
    </variables>
    <variables>
        <name>Factura</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Factura__c</objectType>
    </variables>
</Flow>
