force-app/main/default/flows/CrearContactoV1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>AsignarNuevoContacto</name>
        <label>AsignarNuevoContacto</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>NuevoContacto.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Nombre_Contacto__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NuevoContacto.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Apellido_Contacto__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NuevoContacto.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CrearContacto</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>desicion</name>
        <label>desicion</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ComprabarContacto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Nombre_Contacto__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignarNuevoContacto</targetReference>
            </connector>
            <label>ComprabarContacto</label>
        </rules>
    </decisions>
    <interviewLabel>CrearContactoV1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CrearContactoV1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CrearContacto</name>
        <label>CrearContacto</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <inputReference>NuevoContacto</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetContact</name>
        <label>GetContact</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>desicion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetContact</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NuevoContacto</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
