force-app/main/default/flows/UpdateOportunidadAmount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AsignarPrecio_0_0_0</name>
        <label>AsignarPrecio</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>GetOportunidad.Amount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Precio__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateOportunidad_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>if</name>
        <label>if</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ComprobarstockAuto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAuto.Cantidad_de_Flota__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignarPrecio_0_0_0</targetReference>
            </connector>
            <label>ComprobarstockAuto</label>
        </rules>
    </decisions>
    <formulas>
        <name>SumarPrecio</name>
        <dataType>Currency</dataType>
        <expression>{!GetOportunidad.Amount} +{!$Record.Precio__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>UpdateOportunidadAmount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateOportunidadAmount</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAuto</name>
        <label>getAuto</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Vehiculo_de_Carga__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vehiculo_de_Carga__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOportunidad</name>
        <label>GetOportunidad</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAuto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateOportunidad_0_0</name>
        <label>UpdateOportunidad</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <inputReference>GetOportunidad</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOportunidad</targetReference>
        </connector>
        <object>Alquiler_de_vehiculo__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
