force-app/main/default/flows/VerDistanciasPorKilometro.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <dynamicChoiceSets>
        <name>DestinoV2</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Destino__c</picklistField>
        <picklistObject>Distancias__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OrigenV2</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Oringe__c</picklistField>
        <picklistObject>Distancias__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>VerDistanciasPorKilometro {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VerDistanciasPorKilometro</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getKilometro</name>
        <label>getKilometro</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Kilometro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Oringe__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrigenV2</elementReference>
            </value>
        </filters>
        <filters>
            <field>Destino__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DestinoV2</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Distancias__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Kilometro</name>
        <label>Kilometro</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Nombre</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>getKilometro.Name</elementReference>
            </defaultValue>
            <fieldText>Nombre</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Kilometros</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>getKilometro.Kilometros__c</elementReference>
            </defaultValue>
            <fieldText>Kilometros</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Ver_Kilometros</name>
        <label>Ver Kilometros</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Volver</backButtonLabel>
        <connector>
            <targetReference>getKilometro</targetReference>
        </connector>
        <fields>
            <name>Ver_Kilometros_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Ver_Kilometros_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Origen</name>
                    <choiceReferences>OrigenV2</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Origen</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Ver_Kilometros_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Destino</name>
                    <choiceReferences>DestinoV2</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Destino</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Buscar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Ver_Kilometros</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
