force-app/main/default/flows/VerViajesPorKilometros.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <dynamicChoiceSets>
        <name>VerAutos</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Vehiculo_de_Carga__c</object>
    </dynamicChoiceSets>
    <interviewLabel>VerViajesPorKilometros {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VerVehiculosdeCarga</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetAutos</name>
        <label>GetAutos</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Motras_Trasporte</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VerAutos</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vehiculo_de_Carga__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Consultar_Recorridos</name>
        <label>Consultar Recorridos</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetAutos</targetReference>
        </connector>
        <fields>
            <name>vehiculocarga</name>
            <choiceReferences>VerAutos</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Vehiculos</stringValue>
            </defaultValue>
            <fieldText>Vehiculos</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Buscar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Motras_Trasporte</name>
        <label>Motras Trasporte</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Volver</backButtonLabel>
        <fields>
            <name>Nombre_del_Vehiculo</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetAutos.Name</elementReference>
            </defaultValue>
            <fieldText>Nombre del Vehiculo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Cantidad_de_Flota</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetAutos.Cantidad_de_Flota__c</elementReference>
            </defaultValue>
            <fieldText>Cantidad de Flota</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Modelo</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetAutos.Modelo__c</elementReference>
            </defaultValue>
            <fieldText>Modelo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Precio_por_Kilometro</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetAutos.Precio_por_Kilometro__c</elementReference>
            </defaultValue>
            <fieldText>Precio por Kilometro</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Fin</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Consultar_Recorridos</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>variable1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Alquiler_de_vehiculo__c</objectType>
    </variables>
</Flow>
